In [1]:
import pandas as pd
from quick_glance_f import *

In [2]:
df = pd.read_csv('../data/tarea_del_nene.csv')
df

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
0,1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
1,2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
2,3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
3,4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
4,5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other,"Irving, TX",8000 Bent Branch Dr.,Irving,TX,...,Chairman & Chief Executive Officer,"8000 Bent Branch Dr., Irving, TX 75063",MIK,"The Michaels Companies, Inc.",5197,5.8,378.2,4.2,2148,-1698.0
496,497,Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders,"Horsham, PA",250 Gibraltar Rd.,Horsham,PA,...,Chief Executive Officer & Director,"250 Gibraltar Rd., Horsham, PA 19044",TOL,"Toll Brothers, Inc.",5170,23.9,382.1,5.2,9737,4229.0
497,498,Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,...,"President, Chief Executive Officer & Director","701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.,5169,4.0,-214.3,5.2,48083,31049.0
498,499,Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy,"Dallas, TX",1601 Bryan St.,Dallas,TX,...,"President, Chief Executive Officer & Director","1601 Bryan St., Dallas, TX 75201",VST,Vistra Energy Corp.,5164,4.0,-214.3,5.2,15167,6597.0
499,500,ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,...,"President, Chief Executive Officer & Director","1 Liberty Plaza, New York, NY 10006",ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974.0

In [3]:
file_quick_glance(df)

SHAPE:

(500, 23)
------------------

COLUMNS:

Index(['Rank', 'Title', 'Website', 'Employees', 'Sector', 'Industry',
       'Hqlocation', 'Hqaddr', 'Hqcity', 'Hqstate', 'Hqzip', 'Hqtel', 'Ceo',
       'Ceo-title', 'Address', 'Ticker', 'Fullname', 'Revenues', 'Revchange',
       'Profits', 'Prftchange', 'Assets', 'Totshequity'],
      dtype='object')
------------------

COLUMNS DATA TYPE:

Rank             int64
Title           object
Website         object
Employees        int64
Sector          object
Industry        object
Hqlocation      object
Hqaddr          object
Hqcity          object
Hqstate         object
Hqzip            int64
Hqtel           object
Ceo             object
Ceo-title       object
Address         object
Ticker          object
Fullname        object
Revenues         int64
Revchange      float64
Profits        float64
Prftchange      object
Assets           int64
Totshequity    float64
dtype: object
------------------

DESCRIBE:

         Rank   Employees     Hqzip   Revenues  Revchange   Profits  \
count  500.00      500.00    500.00     500.00     500.00    500.00
mean   250.49    56350.13  46791.71   24111.75       3.76   1779.48
std    144.48   123452.03  30160.38   38337.35      19.97   3937.56
min      1.00       83.00   1104.00    5145.00     -57.50  -6177.00
25%    125.75    11900.00  19099.00    7245.00      -3.82    235.72
50%    250.50    25000.00  46244.50   11384.00       1.90    683.60
75%    375.25    56825.25  75045.00   22605.25       7.32   1770.78
max    500.00  2300000.00  98188.00  485873.00     197.30  45687.00

           Assets  Totshequity
count      500.00       500.00
mean     80389.34     13640.15
std     270425.70     30523.15
min        437.00    -12688.00
25%       8436.50      1997.50
50%      19324.50      4981.00
75%      48126.00     12467.75
max    3287968.00    283001.00
------------------

COUNT:

Rank           500
Title          500
Website        500
Employees      500
Sector         500
Industry       500
Hqlocation     500
Hqaddr         500
Hqcity         500
Hqstate        500
Hqzip          500
Hqtel          500
Ceo            500
Ceo-title      500
Address        500
Ticker         500
Fullname       500
Revenues       500
Revchange      500
Profits        500
Prftchange     500
Assets         500
Totshequity    500
dtype: int64
------------------

2 ROW SAMPLE:

     Rank                        Title                  Website  Employees  \
231   232                  D.R. Horton  http://www.drhorton.com       6976
292   293  Fidelity National Financial       http://www.fnf.com      55219

                         Sector                                  Industry  \
231  Engineering & Construction                              Homebuilders
292                  Financials  Insurance: Property and Casualty (Stock)

           Hqlocation              Hqaddr        Hqcity Hqstate  ...  \
231    Fort Worth, TX    301 Commerce St.    Fort Worth      TX  ...
292  Jacksonville, FL  601 Riverside Ave.  Jacksonville      FL  ...

                                         Ceo-title  \
231  President, Chief Executive Officer & Director
292             Chief Executive Officer & Director

                                        Address Ticker  \
231      301 Commerce St., Fort Worth, TX 76102    DHI
292  601 Riverside Ave., Jacksonville, FL 32204    FNF

                              Fullname Revenues Revchange Profits  Prftchange  \
231                  D.R. Horton, Inc.    12157      12.3   886.3        18.1
292  Fidelity National Financial, Inc.     9554       4.6   650.0        23.3

     Assets  Totshequity
231   11559       6793.0
292   14463       5996.0

[2 rows x 23 columns]
------------------

In [13]:
df.nsmallest(n=5,columns='Rank')[['Title','Rank']]

                Title  Rank
0             Walmart     1
1  Berkshire Hathaway     2
2               Apple     3
3         Exxon Mobil     4
4            McKesson     5

In [14]:
df.Sector.value_counts()

Financials                       84
Energy                           57
Retailing                        47
Technology                       43
Health Care                      38
Wholesalers                      29
Food, Beverages & Tobacco        24
Business Services                20
Materials                        19
Industrials                      19
Transportation                   17
Chemicals                        14
Engineering & Construction       13
Household Products               12
Aerospace & Defense              12
Media                            11
Hotels, Restaurants & Leisure    10
Telecommunications               10
Motor Vehicles & Parts            9
Food & Drug Stores                7
Apparel                           5
Name: Sector, dtype: int64