In [18]:
import pandas as pd
import glob
import os
import quick_glance_f

In [2]:
%pwd

'C:\\Users\\alejo\\UCEMA\\poo_teorica\\poo_ejercicios\\03-pandas\\data_quick_view'

In [8]:
os.chdir(r'C:\Users\alejo\UCEMA\poo_teorica\poo_ejercicios\03-pandas\data\ventas_comercial')

In [9]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is 1C32-C6DB

 Directory of C:\Users\alejo\UCEMA\poo_teorica\poo_ejercicios\03-pandas\data\ventas_comercial

25/08/2022  11:11    <DIR>          .
25/08/2022  11:11    <DIR>          ..
04/10/2020  14:19           195.946 A Comedy of Errors.csv
04/10/2020  14:19           223.757 A Midsummer nights dream.csv
04/10/2020  14:19           315.453 A Winters Tale.csv
04/10/2020  14:19           303.273 Alls well that ends well.csv
04/10/2020  14:19           362.170 Antony and Cleopatra.csv
04/10/2020  14:19           253.082 As you like it.csv
04/10/2020  14:19           336.632 Coriolanus.csv
04/10/2020  14:19           331.538 Cymbeline.csv
04/10/2020  14:19           346.941 Hamlet.csv
04/10/2020  14:19           270.374 Henry IV.csv
04/10/2020  14:19           291.068 Henry V.csv
04/10/2020  14:19           267.902 Henry VI Part 1.csv
04/10/2020  14:19           302.856 Henry VI Part 2.csv
04/10/2020  14:19           296.793 Henry VI Part 3.csv
04/10/2020  14:19           302.873 Henry VIII.csv
04/10/2020  14:19           238.815 Julius Caesar.csv
04/10/2020  14:19           239.454 King John.csv
04/10/2020  14:19           307.525 King Lear.csv
04/10/2020  14:19           278.987 Loves Labours Lost.csv
04/10/2020  14:19           202.796 macbeth.csv
04/10/2020  14:19           285.351 Measure for measure.csv
04/10/2020  14:19           261.002 Merchant of Venice.csv
04/10/2020  14:19           283.511 Merry Wives of Windsor.csv
04/10/2020  14:19           267.277 Much Ado about nothing.csv
04/10/2020  14:19           298.738 Othello.csv
04/10/2020  14:19           215.210 Pericles.csv
04/10/2020  14:19           272.518 Richard II.csv
04/10/2020  14:19           357.681 Richard III.csv
04/10/2020  14:19           301.134 Romeo and Juliet.csv
04/10/2020  14:19           265.143 Taming of the Shrew.csv
04/10/2020  14:19           202.228 The Tempest.csv
04/10/2020  14:19           236.123 Timon of Athens.csv
04/10/2020  14:19           261.890 Titus Andronicus.csv
04/10/2020  14:19           354.099 Troilus and Cressida.csv
04/10/2020  14:19           239.113 Twelfth Night.csv
04/10/2020  14:19           230.951 Two Gentlemen of Verona.csv
              36 File(s)     10.000.204 bytes
               2 Dir(s)  878.860.169.216 bytes free

In [11]:
file_extension= '.csv'

In [12]:
all_files = [i for i in glob.glob(f'*{file_extension}')]

In [23]:
df = pd.concat(pd.read_csv(file) for file in all_files)
df

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,22427,22428,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,ACT I
1,22428,22429,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,SCENE I. A hall in DUKE SOLINUS'S palace.
2,22429,22430,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,"Enter DUKE SOLINUS, AEGEON, Gaoler, Officers, ..."
3,22430,22431,A Comedy of Errors,1.0,1.1.1,AEGEON,"Proceed, Solinus, to procure my fall"
4,22431,22432,A Comedy of Errors,1.0,1.1.2,AEGEON,And by the doom of death end woes and all.
...,...,...,...,...,...,...,...
2352,107902,107903,Two Gentlemen of Verona,52.0,5.4.177,VALENTINE,"Come, Proteus, 'tis your penance but to hear"
2353,107903,107904,Two Gentlemen of Verona,52.0,5.4.178,VALENTINE,The story of your loves discovered:
2354,107904,107905,Two Gentlemen of Verona,52.0,5.4.179,VALENTINE,"That done, our day of marriage shall be yours,"
2355,107905,107906,Two Gentlemen of Verona,52.0,5.4.180,VALENTINE,"One feast, one house, one mutual happiness."
2356,107906,107907,Two Gentlemen of Verona,52.0,NaN,VALENTINE,Exeunt

In [22]:
quick_glance_f.file_quick_glance(df)

SHAPE:

(111396, 7)
------------------

COLUMNS:

Index(['Unnamed: 0', 'Dataline', 'Play', 'PlayerLinenumber', 'ActSceneLine',
       'Player', 'PlayerLine'],
      dtype='object')
------------------

COLUMNS DATA TYPE:

Unnamed: 0            int64
Dataline              int64
Play                 object
PlayerLinenumber    float64
ActSceneLine         object
Player               object
PlayerLine           object
dtype: object
------------------

DESCRIBE:

          Unnamed: 0       Dataline  PlayerLinenumber
count  111396.000000  111396.000000     111393.000000
mean    55697.500000   55698.500000         36.885334
std     32157.399631   32157.399631         39.985840
min         0.000000       1.000000          1.000000
25%     27848.750000   27849.750000         10.000000
50%     55697.500000   55698.500000         25.000000
75%     83546.250000   83547.250000         50.000000
max    111395.000000  111396.000000        405.000000
------------------

COUNT:

Unnamed: 0          111396
Dataline            111396
Play                111396
PlayerLinenumber    111393
ActSceneLine        105153
Player              111389
PlayerLine          111396
dtype: int64
------------------

2 ROW SAMPLE:

      Unnamed: 0  Dataline                  Play  PlayerLinenumber  \
668        23095     23096    A Comedy of Errors               1.0
2003      101194    101195  Troilus and Cressida              29.0

     ActSceneLine      Player                                  PlayerLine
668         3.1.3  OF EPHESUS  My wife is shrewish when I keep not hours:
2003      3.3.122     ULYSSES    Till he communicate his parts to others:
------------------

In [24]:
df['Player'].value_counts()

GLOUCESTER          1920
HAMLET              1582
IAGO                1161
FALSTAFF            1117
KING HENRY V        1086
                    ...
Musician               1
HERBERT                1
Second Attendant       1
ANOTHER                1
Outlaws                1
Name: Player, Length: 934, dtype: int64

In [25]:
df['Play'].value_counts()

Hamlet                      4244
Coriolanus                  3992
Cymbeline                   3958
Richard III                 3941
Antony and Cleopatra        3862
King Lear                   3766
Othello                     3762
Troilus and Cressida        3711
A Winters Tale              3489
Henry VIII                  3419
Henry V                     3395
Henry VI Part 2             3334
Romeo and Juliet            3313
Henry IV                    3205
Henry VI Part 3             3138
Alls well that ends well    3083
Measure for measure         2998
Loves Labours Lost          2986
Henry VI Part 1             2983
Richard II                  2937
Merry Wives of Windsor      2831
As you like it              2822
Taming of the Shrew         2806
Merchant of Venice          2802
Julius Caesar               2771
King John                   2766
Titus Andronicus            2726
Much Ado about nothing      2704
Timon of Athens             2662
Twelfth Night               2648
Pericles                    2641
macbeth                     2586
The Tempest                 2403
Two Gentlemen of Verona     2357
A Midsummer nights dream    2300
A Comedy of Errors          2055
Name: Play, dtype: int64